<ion-row class="ion-justify-content-center ion-align-items-center conteudo">
  <ion-col padding *ngIf="conteudo.imagem" size-xl="3" size-lg="3" size-md="3" size-sm="10" size-xs="10" offset-xl="1" offset-lg="1" offset-md="1" offset-sm="1" offset-sx="1">
    <ion-img [src]="conteudo.imagem" ></ion-img>
  </ion-col>
  <ion-col padding size-xl="5" size-lg="5" size-md="5" size-sm="10" size-xs="10" offset-xl="1" offset-lg="1" offset-md="1" offset-sm="1" offset-sx="1">
    <ion-icon name="checkmark-done-outline" color="secondary"></ion-icon>
    <h1>{{ conteudo.titulo }}</h1>
    <p> Data: {{ conteudo.data | date: 'dd/MM/yyyy' }}</p>
    <p>{{ conteudo.descricao }}</p>   
  </ion-col>
</ion-row>
