<ion-content padding>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="10" size-md="8" size-lg="6" size-xl="6">
        <h1 text-center>
          <ion-icon
            name="checkmark-done-outline"
            color="white"
            class="icon-7em"
            style="margin:auto; display:block; padding: 50px;"
          ></ion-icon>
        </h1>

        <form [formGroup]="authForm" (submit)="onSubmit(authProviders.Email)">
          <ng-container *ngIf="!configs.isSignIn">
            <ion-item>
              <ion-icon name="person" color="primary" slot="start"></ion-icon>
              <ion-input type="text" placeholder="Nome da ONG" formControlName="name"></ion-input>
              <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('required')">
                *Obrigatório
              </ion-note>
              <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('minlength')">
                Mínimo 3 caracteres
              </ion-note>
            </ion-item>
          </ng-container>

          <ion-item>
            <ion-icon name="mail" color="primary" slot="start"></ion-icon>
            <ion-input type="email" placeholder="E-mail" formControlName="email" inputmode="email" autoFocus="true">
            </ion-input>
            <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">
              *Obrigatório
            </ion-note>
            <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">
              E-mail Inválido
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
            <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('required')">
              *Obrigatório
            </ion-note>
            <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('minlength')">
              Mínimo 6 caracteres
            </ion-note>
          </ion-item>

          <ion-button style="margin-top:20px;" expand="block" type="submit" [disabled]="authForm.invalid">
            {{ configs.action}}
          </ion-button>
        </form>

        <ion-button expand="block" color="tertiary" (click)="changeAuthAction()">
          {{configs.actionChange}}
        </ion-button>

        <ion-button expand="block" (click)="onSubmit(authProviders.Facebook)">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          Entrar com Facebook
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
