<ion-content>
  <ion-grid>
    <ion-row class="logo ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <ion-item lines="none">
          <ion-img src="/assets/images/adote-amor.png"></ion-img>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center home-menu">
      <ion-col size="12">
        <p>
          Bem vindo, nós somos
          <strong>Adote Amor</strong>
          . Nós somos um sonho, nós somos uma ideia.
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center clean">
      <ion-col size-sm="5" size-md="4" size-lg="3" size-xl="3">
        <h1>O que somos?</h1>
        <p>
          Adote Amor é um projeto de iniciativa privada, sem fins lucrativos, que prevê oferecer uma plataforma web
          gratuíta para que ONG's em prol da proteção animal possam divulgar seus trabalhos.
        </p>
      </ion-col>
      <ion-col size-sm="5" size-md="4" size-lg="3" size-xl="3">
        <ion-img src="/assets/images/cat.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center dark">
      <ion-col size-sm="5" size-md="4" size-lg="3" size-xl="3">
        <ion-img src="/assets/images/eagle.jpg"></ion-img>
      </ion-col>
      <ion-col size-sm="5" size-md="4" size-lg="3" size-xl="3">
        <h1>Como a ideia surgiu?</h1>
        <p>
          O projeto teve início a partir do trabalho de conclusão do curso de Tecnologia em Sistemas para Internet do
          Campus Passo Fundo/RS do Instituto Federal de CIência e Tecnologia Sul-Riograndense em 2019.
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center clean">
      <ion-col size-sm="5" size-md="4" size-lg="3" size-xl="3">
        <h1>
          O projeto recebe incentivos financeiros?
        </h1>
        <p>
          Não, todas as etapas de desenvolvimento da plataforma foram realizadas voluntariamente pelos alunos do curso,
          sem incentivos financeiros.
        </p>
      </ion-col>
      <ion-col size-sm="5" size-md="4" size-lg="3" size-xl="3">
        <ion-img src="/assets/images/dog.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center dark">
      <ion-col size-sm="5" size-md="4" size-lg="3" size-xl="3">
        <ion-img src="/assets/images/lion.jpg"></ion-img>
      </ion-col>
      <ion-col size-sm="5" size-md="4" size-lg="3" size-xl="3">
        <h1>Quem pode utilizar?</h1>
        <p>
          Todas as Organizações Não Governamentais em Prol da Proteção Animal que estejam devidamente registradas e
          possum CNPJ ativo podem realizar o cadastro e utilizar a plataforma.
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center clean">
      <ion-col size-sm="5" size-md="4" size-lg="3" size-xl="3">
        <p>
          É membro de uma ONG em prol da proteção animal e gostaria de utilizar o
          <strong>Adote Amor</strong>
          para
          divulgar suas atividades? Então vamos lá!
        </p>
        <ion-button href="https://adote-amor-admin.web.app/" target="_blank">
          <ion-icon name="add" slot="start"></ion-icon>
          Crie uma conta
        </ion-button>
        <ion-item lines="none" link="https://api.whatsapp.com/send?1=pt_BR&phone=5554996233597"
          style="margin-top:20px; margin-bottom:20px;">
          <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5554996233597" target="blank">
            <ion-icon slot="start" color="success" size="large" name="logo-whatsapp" style="margin-right:10px;">
            </ion-icon>
          </a>
          Dúvidas, sugestões? Fale conosco!
        </ion-item>
      </ion-col>
      <ion-col size-sm="5" size-md="4" size-lg="3" size-xl="3">
        <ion-img src="/assets/images/tiger.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center back-cats"></ion-row>
  </ion-grid>
</ion-content>