<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dados da ONG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Dados da ONG</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="(dados$ | async) as dados">
    <ng-container *ngIf="dados.length > 0; else noDados">
      <app-dados-item *ngFor="let dados of dados" [dados]="dados" (update)="onUpdate($event)"> </app-dados-item>
    </ng-container>
    <ng-template #noDados>
      <ion-item lines="none">
        Nada cadastrado até o momento...
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-fab *ngIf="(dados$ | async) as dados" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="dados.length == 0" routerLink="/admin/dados/create" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
