<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Conteúdos da ONG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Conteúdos da ONG</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="(conteudos$ | async) as conteudos">
    <ng-container *ngIf="conteudos.length > 0; else noConteudos">
      <app-conteudo-item
        *ngFor="let conteudo of conteudos"
        [conteudo]="conteudo"
        (update)="onUpdate($event)"
        (delete)="onDelete($event)"
      ></app-conteudo-item>
    </ng-container>
    <ng-template #noConteudos>
      <ion-item lines="none">
        Nenhum conteúdo cadastrado até o momento...
      </ion-item>
    </ng-template>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/admin/conteudos/create" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
