<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/adocoes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="adocaoForm" (submit)="onSubmit()">
    <ion-item>
      <ion-label>Nome: </ion-label>
      <ion-icon name="text-outline" slot="start" color="primary"></ion-icon>
      <ion-input type="text" placeholder="Ex: Bidu" autofocus="true" inputmode="text" formControlName="nome">
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="nome.dirty && nome.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="nome.dirty && nome.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Sobre: </ion-label>
      <ion-icon name="text-outline" slot="start" color="primary"></ion-icon>
      <ion-input type="text" placeholder="Ex: Cãozinho abandonado resgatado no dia..." autofocus="true" inputmode="text" formControlName="sobre">
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="sobre.dirty && sobre.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="sobre.dirty && sobre.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Imagem: </ion-label>
      <ion-icon name="document" slot="start" color="primary"></ion-icon>
      <ion-input type="text" placeholder="Ex: image.jpg" inputmode="text" formControlName="imagem"> </ion-input>
      <ion-note slot="end" color="danger" *ngIf="imagem.dirty && imagem.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="imagem.dirty && imagem.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item> <ion-toggle slot="start" color="primary" formControlName="ativo"></ion-toggle> Ativar Animal </ion-item>
    <ion-button expand="full" color="tertiary" type="submit" [disabled]="adoacaoForm.invalid">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      Salvar
    </ion-button>
  </form>
</ion-content>
