<ion-header>
  <ion-toolbar>
    <ion-title>Dados da ONG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Razão Social" autoFocus="true"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="text" placeholder="CNPJ"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="email" placeholder="E-mail Principal" inputmode="email"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="email" placeholder="E-mail Newsletter" inputmode="email"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-text color="secondary">Endereço</ion-text>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Rua"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Número"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Bairro"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Complemento"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Cidade/UF/País"> </ion-input>
  </ion-item>

  <ion-footer>
    <ion-button color="tertiary">
      <ion-icon name="save" slot="start"></ion-icon>
      Salvar
    </ion-button>
    <ion-button color="medium">
      <ion-icon name="alert" slot="start"></ion-icon>
      Cancelar
    </ion-button>
  </ion-footer>
</ion-content>
