.strong{
    font-weight: 600;
}

.banco{
    font-size: 18px;
}

h3{
    color: #3dc2ff;
}

.inline{
    display: inline-flex;
    margin-bottom: 20px;
}

.inline ion-icon{
    padding-right: 20px;
    margin-right: 10px;
}

a{
    text-decoration: none;
}

.padding ion-icon{
    margin: 20px;
}