<ion-tabs>

  <ion-tab-bar slot="top" color="primary">
    
    <ion-tab-button tab="home">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="politica-de-privacidade">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Política de Privacidade</ion-label>
    </ion-tab-button>

    <ion-tab-button href="https://adote-amor-admin.web.app/">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Entrar/Criar Conta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <ion-footer>
    <ion-toolbar>
      <ion-title size="small">Copyright © 2020 Adote Amor. Todos os direitos reservados.</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-tabs>
