ion-footer{
    text-align: center;
}

ion-footer ion-item {
    text-align: left;
}

ion-label{
    //font-size: 15px;
    //font-weight: 800 !important;
}

h3{
    font-size:17px;
    //font-weight: 600;
}

p{
    font-size: 15px;
}