<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/telefones"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="telefoneForm" (submit)="onSubmit()">
    <ion-item>
      <ion-icon name="text-outline" slot="start" color="primary"></ion-icon>
      <ion-input type="text" placeholder="Título" autofocus="true" inputmode="text" formControlName="titulo">
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="titulo.dirty && titulo.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="titulo.dirty && titulo.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
      <ion-input
        type="tel"
        placeholder="Número"
        inputmode="text"
        formControlName="numero"
        name="phone"
        [brmasker]="{phone: true}"
      >
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="numero.dirty && numero.hasError('required')">
        *Obrigatório
      </ion-note>
    </ion-item>

    <ion-button expand="full" color="tertiary" type="submit" [disabled]="telefoneForm.invalid">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      Salvar
    </ion-button>
  </form>
</ion-content>
