<ion-item-sliding #sliding>
  <ion-item (click)="update.emit(popup)">
    {{ popup.titulo }}
    <ion-toggle
      slot="end"
      color="primary"
      [checked]="popup.ativo"
      (ionChange)="ativo.emit(popup)"
      (click)="$event.stopPropagation()"
    ></ion-toggle>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option style="width:50px; font-size:10px;" color="danger" (click)="delete.emit(popup); sliding.close()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>

    <ion-item-option style="width:50px; font-size:10px;" (click)="update.emit(popup); sliding.close()">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
