<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/conteudos"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="conteudoForm" (submit)="onSubmit()">
    <ion-item>
      <ion-label>Título: </ion-label>
      <ion-icon name="text-outline" slot="start" color="primary"></ion-icon>
      <ion-input type="text" placeholder="Ex: Novidades" autofocus="true" inputmode="text" formControlName="titulo">
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="titulo.dirty && titulo.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="titulo.dirty && titulo.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Descrição: </ion-label>
      <ion-icon name="text-outline" slot="start" color="primary"></ion-icon>
      <ion-input type="text" placeholder="Ex: Novidades na área de..." inputmode="text" formControlName="descricao">
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="descricao.dirty && descricao.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="descricao.dirty && descricao.hasError('minlength')">
        Mínimo 10 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Data: </ion-label>
      <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
      <ion-datetime
        cancel-text="Cancelar"
        done-text="Salvar"
        displayFormat="DD/MM/YYYY"
        formControlName="data"
      ></ion-datetime>
      <ion-note slot="end" color="danger" *ngIf="data.dirty && data.hasError('required')">
        *Obrigatório
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Imagem: </ion-label>
      <ion-icon name="document" slot="start" color="primary"></ion-icon>
      <ion-input text-left type="file" (change)="upload($event)" accept=".png,.jpg,.jpeg"  autofocus="true"></ion-input>
      <ion-note slot="end" color="danger" *ngIf="imagem.dirty && imagem.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-input autofocus="true" inputmode="text" formControlName="imagem" hidden> </ion-input>
    </ion-item>
    <ion-item padding *ngIf="imagem.value != ''">
      <ion-img style="width:200px;" [src]="imagem.value"></ion-img>      
    </ion-item>
    <ion-item class="ion-justify-content-center">
      <a *ngIf="downloadURL | async; let uploadSrc" [href]="uploadSrc" target="_blank">Baixar o arquivo enviado</a>
      <ion-img *ngIf="downloadURL | async; let url" [src]="url" alt="Image from AngularFireStorage"></ion-img>      
    </ion-item>
    <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-grid>
      <ion-row>
      <ion-col size="6" 
        *ngFor="let photo of photoService.photos; index as position">
          <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
      </ion-row>
    </ion-grid>-->
    <ion-button expand="full" color="tertiary" type="submit" [disabled]="conteudoForm.invalid">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      Salvar
    </ion-button>
  </form>
</ion-content>
