a{
  text-decoration: none;
}
.back-cats {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/assets/images/cats.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 350px;
  margin-top: 20px;
}
.dark {
  background-color: #ffc8ec38;
}
.footer {
  background-color: #3880ff;
}
.home-menu {
  background-image: linear-gradient(to right, #3880ff , #e857ea);
}
.home-menu p {
  text-align: center;
  color: white;
  margin:auto;
  display:block;
  padding: 20px;
}
.home-login {
  //background-image: linear-gradient(to right, #3880ff , #e857ea);
}
.home-login a {
  float: right;
  display:block;
  margin: 0px 10px 0px 0px;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  font-weight: 600;
}
.btn-01{
  color: #3880ff;
}
.btn-02{
  color: white;
  background-color: #e857ea;
}
.home-login a:hover {
  background-image: linear-gradient(to right, #3880ff , #e857ea);
  font-weight: 800;
  color: white;
}
.clean ion-img{
  text-align: right;
  width:300px;
}
.dark ion-img{
  text-align: left;
  width:300px;
}
@media only screen and (max-width: 1385px) {
  .clean ion-img, .dark ion-img{
    width:250px;
  }
}
@media only screen and (max-width: 960px) {
  .clean ion-img, .dark ion-img{
    width:200px;
  }
}
@media only screen and (max-width: 540px) {
  .clean ion-col, .dark ion-col{
    min-width: 100%;
  }
  .dark{
    background-color: white;
  }
  .dark ion-img{
    display: none;
  }
  .clean ion-img, .dark ion-img{
    text-align: center;
  }
}