<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Marketing da ONG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Marketing da ONG</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="(marketing$ | async) as marketing">
    <ng-container *ngIf="marketing.length > 0; else noMarketing">
      <app-marketing-item
        *ngFor="let marketing of marketing"
        [marketing]="marketing"
        (update)="onUpdate($event)"
        (delete)="onDelete($event)"
      ></app-marketing-item>
    </ng-container>
    <ng-template #noMarketing>
      <ion-item lines="none">
        Nenhum marketing cadastrado até o momento...
      </ion-item>
    </ng-template>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/admin/marketing/create" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
