<ion-item-sliding #sliding>
  <ion-item (click)="update.emit(adocao)">
    {{ adocao.nome }}
    <ion-toggle
      slot="end"
      color="primary"
      [checked]="adocao.ativo"
      (ionChange)="ativo.emit(adocao)"
      (click)="$event.stopPropagation()"
    ></ion-toggle>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option style="width:50px; font-size:10px;" color="danger" (click)="delete.emit(adocao); sliding.close()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>

    <ion-item-option style="width:50px; font-size:10px;" (click)="update.emit(adocao); sliding.close()">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
