<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/dados"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col padding>
  <form [formGroup]="dadosForm" (submit)="onSubmit()">
    <ion-item>
      <ion-icon style="padding-left:20px;" name="text-outline" slot="start" color="primary"></ion-icon>
      <ion-label color="primary" style="font-size:18px; font-weight: bold;">Dados principais</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">Razão Social: </ion-label>
      <ion-input
        type="text"
        placeholder="Razão Social"
        autofocus="true"
        inputmode="text"
        formControlName="razao_social"
      >
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="razao_social.dirty && razao_social.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="razao_social.dirty && razao_social.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">Fantasia: </ion-label>
      <ion-input type="text" placeholder="Fantasia" autofocus="true" inputmode="text" formControlName="fantasia">
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="fantasia.dirty && fantasia.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="fantasia.dirty && fantasia.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">CNPJ: </ion-label>
      <ion-input
        type="text"
        placeholder="CNPJ"
        autofocus="true"
        inputmode="text"
        formControlName="cnpj"
        name="cnpj"
        [brmasker]="{person: true}"
      >
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="cnpj.dirty && cnpj.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="cnpj.dirty && cnpj.hasError('minlength')">
        Mínimo 14 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">E-mail Principal: </ion-label>
      <ion-input
        type="email"
        placeholder="E-mail Principal"
        formControlName="email_principal"
        inputmode="email"
        autoFocus="true"
      >
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="email_principal.dirty && email_principal.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="email_principal.dirty && email_principal.hasError('email')">
        E-mail Inválido
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">E-mail Newsletter: </ion-label>
      <ion-input
        type="email"
        placeholder="E-mail Newsletter"
        formControlName="email_newsletter"
        inputmode="email"
        autoFocus="true"
      >
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="email_newsletter.dirty && email_newsletter.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="email_newsletter.dirty && email_newsletter.hasError('email')">
        E-mail Inválido
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon style="padding-left:20px;" name="location-outline" slot="start" color="primary"></ion-icon>
      <ion-label color="primary" style="font-size:18px; font-weight: bold;">Endereço</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">Rua: </ion-label>
      <ion-input type="text" placeholder="Rua" autofocus="true" inputmode="text" formControlName="rua"> </ion-input>
      <ion-note slot="end" color="danger" *ngIf="rua.dirty && rua.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="rua.dirty && rua.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">Number: </ion-label>
      <ion-input type="number" placeholder="Número" inputmode="text" formControlName="numero"> </ion-input>
      <ion-note slot="end" color="danger" *ngIf="numero.dirty && numero.hasError('required')">
        *Obrigatório
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">Complemento: </ion-label>
      <ion-input type="text" placeholder="Complemento" autofocus="true" inputmode="text" formControlName="complemento">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">Bairro: </ion-label>
      <ion-input type="text" placeholder="Bairro" autofocus="true" inputmode="text" formControlName="bairro">
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="bairro.dirty && bairro.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="bairro.dirty && bairro.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">CEP: </ion-label>
      <ion-input type="text" placeholder="CEP" autofocus="true" inputmode="text" formControlName="cep"> </ion-input>
      <ion-note slot="end" color="danger" *ngIf="cep.dirty && cep.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="cep.dirty && cep.hasError('minlength')">
        Mínimo 8 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">Cidade: </ion-label>
      <ion-input type="text" placeholder="Cidade" autofocus="true" inputmode="text" formControlName="cidade">
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="cidade.dirty && cidade.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="cidade.dirty && cidade.hasError('minlength')">
        Mínimo 3 caracteres
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label color="primary" style="font-size:14px; font-weight: bold;">Estado: </ion-label>
      <ion-input type="text" placeholder="Estado" autofocus="true" inputmode="text" formControlName="estado">
      </ion-input>
      <ion-note slot="end" color="danger" *ngIf="estado.dirty && estado.hasError('required')">
        *Obrigatório
      </ion-note>
      <ion-note slot="end" color="danger" *ngIf="estado.dirty && estado.hasError('minlength')">
        Mínimo 2 caracteres
      </ion-note>
    </ion-item>
    <ion-button expand="full" color="tertiary" type="submit" [disabled]="dadosForm.invalid">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      Salvar dados
    </ion-button>
  </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
